@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overscroll-behavior: none;
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#root {
    overflow-y: auto;
    height: 100vh;
}